@(
        title: String,
)(
        content: Html
)(
        implicit
        assetsFinder: AssetsFinder
)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Pupkaci - @title</title>
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("bootstrap3/css/bootstrap.min.css")">
        <script type="text/javascript" src="@assetsFinder.path("jquery/js/jquery-3.3.1.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("bootstrap3/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("scalactica2d-js-fastopt.js")"></script>
    </head>
    <body>
    @content
    </body>
</html>