@import sk.ygor.scalactica2d.shared.Elements
@(

)(
        implicit
        assetFinder: AssetsFinder,
        environment: play.api.Environment
)

@sk.ygor.scalactica2d.web.view.html._layout("Index") {


    <style>
            #scalactica2dCanvas {
                background: black;
                height: 100%;
            }

            .main-wrapper {
                height: 100vh;
            }

            .section {
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            .prototype {
                display: none;
            }

    </style>

    <div class="main-wrapper">
        <div class="section col-xs-3" style="overflow: auto">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="@Elements.controlsTab.idSelector">Controls</a></li>
                <li><a data-toggle="tab" href="#@Elements.scenariosTab.idSelector">Scenarios</a></li>
                <li><a data-toggle="tab" href="#@Elements.savedStatesTab.idSelector">Saved states</a></li>
            </ul>

            <div class="tab-content">
                @sk.ygor.scalactica2d.web.view.tabs.html.controlsTab()
                @sk.ygor.scalactica2d.web.view.tabs.html.scenariosTab()
                @sk.ygor.scalactica2d.web.view.tabs.html.savedStatesTab()
            </div>
        </div>
        <div class="section col-xs-9">
            <canvas id="@Elements.scalactica2dCanvas" tabindex="1"></canvas>
        </div>
    </div>

    <script>
            Scalactica2dJavascriptApplication.main();
    </script>
}