@import sk.ygor.scalactica2d.shared.Elements

<style>
                #objectControlSpeedDelta button {
                    width: 2em;
                }

                #objectControlSpeedDelta th, #objectControlSpeedDelta td {
                    border: 0;
                    padding: 0;
                    margin: 0;
                }
</style>

<div id="@Elements.objectControlSpeedDelta">
        Speed change
    <table class="table">
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1"><button class="plusY">+</button></td>
            <td class="col-md-1"></td>
            <td class="col-md-2"></td>
            <td class="col-md-1"></td>
            <td class="col-md-1"></td>
            <td class="col-md-1"></td>
            <td class="col-md-4"></td>
        </tr>
        <tr>
            <td><button class="minusX">-</button></td>
            <td><button class="stop">0</button></td>
            <td><button class="plusX">+</button></td>
            <td></td>
            <td><button class="minusStep">-</button></td>
            <td>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input class="stepSize" type="text" size="4" value="0.1">
            </td>
            <td><button class="plusStep">+</button></td>
            <td>m/s</td>
        </tr>
        <tr>
            <td></td>
            <td><button class="minusY">-</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>