@import sk.ygor.scalactica2d.shared.Elements

<div id="@Elements.controlsTab" class="tab-pane fade in active" style="display: none">
    <h4>Animation</h4>
    <button id="@Elements.toggleAnimation">Start</button>
    <button id="@Elements.dummy">Dummy</button>

    <h4>Space object tree</h4>
    <ul id="@Elements.spaceObjectTree">
        <li class="prototype"><a href="#">Prototype</a></li>
    </ul>

    <h4>Speed / acceleration</h4>
    <div id="@Elements.speedAcceleration">
        <table class="table table-condensed">
            <tr>
                <th class="col-md-2"></th>
                <th class="col-md-5 text-right">x</th>
                <th class="col-md-5 text-right">y</th>
            </tr>
            <tr>
                <td>Position</td>
                <td class="text-right"><span class="positionX"></span></td>
                <td class="text-right"><span class="positionY"></span></td>
            </tr>
            <tr>
                <td>Speed</td>
                <td class="text-right"><span class="speedX"></span></td>
                <td class="text-right"><span class="speedY"></span></td>
            </tr>
            <tr>
                <td>Acceleration</td>
                <td class="text-right"><span class="accelerationX"></span></td>
                <td class="text-right"><span class="accelerationY"></span></td>
            </tr>
        </table>
    </div>

    <h4>Object controls</h4>
    @sk.ygor.scalactica2d.web.view.tabs.controls.html.speedDelta()

    <h4>Mission objectives</h4>
    <div id="@Elements.mission">
        <span class="current"></span>
        <div class="advance">
            <button class="nextStep">Next</button>
            <span class="condition"></span>
        </div>
    </div>

</div>